<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%p] %c [%t] - %m%n</pattern>
        </encoder>
    </appender>
    <appender class="ch.qos.logback.core.FileAppender" name="FILE">
        <file>spring-rest-invoker-test.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%p] %c [%t] - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework.web.client" level="info" />
    
	<logger name="com.github.ggeorgovassilis.springjsonmapper.Request" level="debug" />
	<logger name="com.github.ggeorgovassilis.springjsonmapper.Response" level="debug" />
    
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
